.App {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui.cards {
  justify-content: center;
}

.ui.form {
  padding: 3rem;
}
